.table td,th{
    text-align: left;
    width: 15rem;
    font-size: calc(12px + (24 - 14) * ((100vw - 300px) / ( 1600 - 300)));
}
.available{
    border: 2px solid gray;
    border-radius: 5px;
   
     text-align: center;
     background-color: rgba(79, 238, 87, 0.945);
 }
 .notavailable{
     border: 2px solid gray;
     border-radius: 5px;
   
     
     text-align: center;
     background-color: rgba(238, 79, 79, 0.945);
 
 }